{% extends "layout.html" %}
{% block content %}
    <h1>Results Page:</h1>
        <article class="output content-section">
          <div class="output-body">
            <h2><a class="output results" href="#">{{ output0 }}</a></h2>
              <h3><a class="output results" href="#">{{ output1 }}</a></h3>
              <h4><a class="output results" href="#">{{ output2 }}</a></h4>
              <h5><a class="output results" href="#">{{ output3 }}</a></h5>
          </div>
        </article>
              <center><img src="{{ pic1 }}"
             alt="image"
             width="400"
             height="400"
            <img style="border:10px solid  #ffffff;"/>
            <img style="border:10px solid  #ffffff;"/>
                  <form action="/returning_home">
        <button type="submit" class="btn btn-primary">return home</button>
    </form>
{% endblock content %}